
@model TPGP.Models.Jobs.User
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TPGP</title>
    <link href="~/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/Site.css" rel="stylesheet" />
    <link href="~/content/css/signin.css" rel="stylesheet" />
    <link href="~/content/css/footer.css" rel="stylesheet" />
</head>

<body>
    <div class="center">
        <nav class="navbar navbar-expand-lg navbar-light bg-fade navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/images/logo.png" alt="logo" width="32" height="32">
                    Allianz
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">

                            <a class="nav-link" href="#">
                                Wallets
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">

                            <a class="nav-link" href="#">
                                Wallets
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">

                            <a class="nav-link" href="#">
                                Wallets
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container">
            <section class="login-form">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "login" }))
                {
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", type = "text", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", type = "password", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.ValidationSummary(true, "", new { @class = "text-danager" })
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Login">Sign in</button>
                }
            </section>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">FOOOOOOOOOOOTTTTTTEEEEEEEEEERRRRRRRRRRR.</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>