@model TPGP.Models.ViewModels.ContractViewModel

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Contract.Name</h1>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contract.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.InitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.InitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.Zones)
        </dt>

        <dd>
            @foreach (var item in Model.Contract.Zones)
            {
            <div>@item.Label</div>
            }
    </dl>
</div>

<p style="padding-left:13px; padding-bottom:13px; padding-top:13px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contract.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back", "Contracts", "Portfolio", new { id = Model.Contract.PortfolioId }, new { @class = "btn btn-secondary" })
</p>