@model TPGP.Models.ViewModels.ContractViewModel

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contract.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.InitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.InitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract.PortfolioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.Portfolio.Sector)
        </dd>
    </dl>
</div>

<p style="padding-left:13px">
    @Html.ActionLink("Back to List", "Contracts", "Portfolio", new { id = Model.Contract.PortfolioId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contract.Id }, new { @class = "btn btn-primary" })
</p>