@model TPGP.Models.Jobs.User

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="container col-lg-11">
        <p> Your status is actually  @Model.Role.RoleName </p>
        @using (Html.BeginForm("create", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
            <p> Please choice the status you want : @Html.DropDownList("roleChoisi", (SelectList)ViewBag.Roles) </p>
            <p>Then download and complete this form : @Html.ActionLink("download form", "download", "account", FormMethod.Post)</p>


            @Html.AntiForgeryToken();

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

              
                   
                     <p>Upload it: <input type="file" name="file" id="file" /> </p>

                    
               
            
        <p> We will process your request as soon as possible </p>

                      <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Validate" class="btn btn-default" />
                            </div>

                      </div>
    
               
     
        }
        </div>
    </p>
   
  
</body>
</html>
