@model TPGP.Models.Jobs.User

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4> Welcome to your account @Session["username"]</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
           

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role.RoleName)
            </dd>

        </dl>
       
       
            @if (Model.Role.IsBeingProcessed == true)
            {
                <p>Your changed is being processed</p>
            }else{
                <a href="/account/create"> change your status</a>
            }

    </div>
 
</body>
</html>
