@model TPGP.Models.ViewModels.UserViewModel

<h1>@Session["username"]'s account</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Role.RoleName)
        </dd>

        @if (Model.User.Role.IsBeingProcessed)
        {
            <dt> About Your status </dt>
            <dd>You have asked to change your status from <strong>@Model.User.Role.RoleName</strong> to <strong>@Model.User.Role.DesiredRole</strong>. Your request is being processed.</dd>
        }

    </dl>

    @if (!Model.User.Role.IsBeingProcessed)
    {
        <div class="back">
            @Html.ActionLink("Change your status", "ChangeStatus", "Account", null, new { @class = "btn btn-info" })
        </div>
    }

</div>