@model TPGP.Models.ViewModels.UserViewModel

<h1>@Session["username"]'s account</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Role.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Zone.Label)
        </dd>

        @if (Model.User.Role.IsBeingProcessed)
    {
        <dt> About your status... </dt>
        <dd>
            <strong><font color="green">You have asked to change your status from @Model.User.Role.RoleName to @Model.User.Role.DesiredRole. Your request is being processed.</font></strong>
        </dd>
}

    </dl>

    @if (!Model.User.Role.IsBeingProcessed)
    {
        <div class="back">
            @Html.ActionLink("Change your status", "ChangeStatus", "Account", null, new { @class = "btn btn-info" })
        </div>
    }

</div>