@model TPGP.Models.Jobs.User

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4> Welcome to your account @Session["username"]</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role.RoleName)
            </dd>

        </dl>
        @{ TPGP.Models.Jobs.User user = (TPGP.Models.Jobs.User)ViewBag.User;}
       
        @if(user != null && user.Role.IsBeingProcessed)
        {
           
            <dl>
            <dt> About Your status </dt> </dl>
           
                <p>You have asked to changed your status from @user.Role.RoleName to  @user.Role.DesiredRole. Your request is being processes</p>
        }
        else
        {
            @Html.ActionLink("change your status", "create", "account");

        }

    </div>


 
</body>
</html>
