@using PagedList;
@using PagedList.Mvc

@model IPagedList<TPGP.ViewModels.ContractViewModel>

@{
    ViewBag.Title = "Contracts";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1>Contracts</h1>
<div>
    <hr />
    <table class="table">
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.InitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract.Bonus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Contract.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Details", "Details", "Contract", new { id = item.Contract.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Contract.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Photos</a></li>
            <li class="breadcrumb-item"><a href="#">Summer 2017</a></li>
            <li class="breadcrumb-item"><a href="#">Italy</a></li>
            <li class="breadcrumb-item active">Rome</li>
        </ul>
    </div>

    <div class="container pagination pager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>