@using PagedList.Mvc

@model TPGP.ViewModels.ContractsViewModel

@{
    ViewBag.Title = "Contracts";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1 class="text-center">Contracts</h1>
<hr />
@if (!Model.IsListEmpty)
{
    <div class="row col-lg-3" style="margin:0 auto; padding-bottom:20px">

        @using (Html.BeginForm("Contracts", "Portfolio", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search..." })
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" value="Search">Go!</button>
                </span>
            </div>
        }

    </div>
}
else
{
    <div class="container">
        <div class="alert alert-info">
            <strong>Info!</strong> There is no contract yet in this portfolio.
        </div>
    </div>
}

@if (!Model.IsListEmpty)
{
    <div>
        <table class="table">
            <thead></thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts[0].InitDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contracts[0].Company)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Contracts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Details", "Details", "Contract", new { id = item.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

        <div class="row pagination pager" style="padding-left:13px">
            @Html.PagedListPager(Model.Contracts, page => Url.Action("Contracts", new { page }))
        </div>
    </div>
}