@using PagedList;
@using PagedList.Mvc

@model IPagedList<TPGP.ViewModels.ContractViewModel>

@{
    ViewBag.Title = "Contracts";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1>Contracts</h1>
<hr />
@if (!ViewBag.IsListEmpty)
{
    <div class="container util">
        <div class="row">
            <div class="col-lg-8">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-lg-4">

                @using (Html.BeginForm("Contracts", "Portfolio", FormMethod.Get))
                {
                    <div class="input-group">
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search..." })
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit" value="Search">Go!</button>
                        </span>
                    </div>
                }

            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="alert alert-info">
            <strong>Info!</strong> There is no contract yet in this portfolio.
        </div>
    </div>
}

@if (!ViewBag.IsListEmpty)
{
    <div>
        <table class="table">
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contract.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contract.InitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contract.Bonus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Contract.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Details", "Details", "Contract", new { id = item.Contract.Id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Contract.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

        <div class="container pagination pager">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
}