@using PagedList.Mvc

@model TPGP.Models.ViewModels.PortfoliosViewModel

@{
    ViewBag.Title = "Portfolios";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1>Portfolios</h1>
<hr />
<div class="col-lg-4" style="padding-bottom:25px; text-align: right;">

    @using (Html.BeginForm("Index", "Portfolio", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search..." })
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" value="Search">Go!</button>
            </span>
        </div>
    }

</div>

<div>
    <table class="table table-striped table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolios[0].Sector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portfolios[0].Scope)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Portfolios)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Sector, "Contracts", "Portfolio", new { id = item.Id }, null)
                    </td>
                    <td>
                        <div class="font-italic font-weight-bold"><font color="rebeccapurple">@Html.DisplayFor(model => item.Scope)</font></div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="row pagination pager">
        @Html.PagedListPager(Model.Portfolios, page => Url.Action("Index", new { page }))
    </div>
</div>