@using PagedList;
@using PagedList.Mvc

@model IPagedList<TPGP.ViewModels.PortfolioViewModel>

@{
    ViewBag.Title = "Portfolios";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h2>Portfolios of contracts</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>Sector</th>
            <th>Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Portfolio.Sector, "Contracts", "Portfolio", new { id = item.Portfolio.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Portfolio.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Portfolio.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Portfolio.Id })
                </td>
            </tr>
        }

    </table>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Photos</a></li>
            <li class="breadcrumb-item"><a href="#">Summer 2017</a></li>
            <li class="breadcrumb-item"><a href="#">Italy</a></li>
            <li class="breadcrumb-item active">Rome</li>
        </ul>
    </div>

    <div class="container pagination pager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>