@model TPGP.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Edition";
}

<h3 class="panel-heading">Editing</h3>
<div class="panel-body  col-lg-8 col-lg-offset-1">

    @using (Html.BeginForm("Save", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.User.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.User.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.User.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.User.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.User.Firstname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.User.Firstname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.User.Lastname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.User.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            @{
                if (Model.User.Role.IsBeingProcessed)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Current Role")
                            @Html.EditorFor(model => model.User.Role.RoleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="requsRole">
                        <div class="col-md-6">
                            @Html.Label("Request Role")

                            <div class="rolechange">
                                <div   >
                                    @Html.EditorFor(model => model.User.Role.DesiredRole, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.User.Role, "", new { @class = "text-danger" })
                                </div>

                                <div id="seepdf"  >
                                    @Html.ActionLink("See PDF", "Download","Admin",
                                       new { id = Model.User.Id},
                                     new {@class= "btn btn-primary btn-block" })                   
                                </div>
                                <div style="padding-left: 15px;">
                                    <input type="submit" value="Confirm" class="btn btn-default" />
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Current Role")
                            @Html.EditorFor(model => model.User.Role.RoleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            }

        </div>
    }

    <div class="back">
        @Html.ActionLink("Back", "Index", new { @class = "btn btn-secondary" })
    </div>
</div>