@model TPGP.Models.Jobs.User
@{
    Layout = "~/Views/Shared/ViewPage1.cshtml";
    ViewBag.Title = "Accueil";
}

@section Menu{
    <ul>
        <li> @Html.ActionLink("Portefeuil", "Portefeuil")</li>
        <li> @Html.ActionLink("Connexion", "Connexion")</li>
        <li> @Html.ActionLink("Contact","Contact")</li>
    </ul>

}

<div id="inscrip_con">
    <div id="inscription">
        <h1>Inscription</h1>

        @using (Html.BeginForm("Index"))
        {
            <fieldset>
                <div id="fstname">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model=>model.Email)
                </div>
                <div id="lstname">
                    @Html.LabelFor(model => model.Lastname)
                    @Html.TextBoxFor(model => model.Lastname)
                    @Html.ValidationMessageFor(model => model.Lastname)
                </div>
                <div id="usrname">
                    @Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
               
                 <br />
                <input type="submit" value="validé"/>
                


            </fieldset>


        }

    </div>
    <div id="connexion">
        <h1>Connexion</h1>

        <div>
            @using (Html.BeginForm("Index"))
            {
                <fieldset>
                    <div id="usrname">
                        @Html.LabelFor(model => model.Username)
                        @Html.TextBoxFor(model => model.Username)
                    </div>
                    
                    <br />
                    <input type="submit" value="Connecter" />
                </fieldset>
            }
                

        </div>

    </div>
</div>