@using PagedList.Mvc
@model TPGP.Models.ViewModels.UsersViewModel

@{
    ViewBag.Title = "AdminView";
}

@section css {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" />
}

<h1>Users</h1>
<hr />
<div class="col-lg-4" style="padding-bottom:25px; text-align: right;">

    @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search..." })
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" value="Search">Go!</button>
            </span>
        </div>
    }

</div>

<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Users[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Role.RoleName)
            </th>
            <th>Role request</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Users)
        {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>

            <td>
                @{
            if (item.Role.IsBeingProcessed)
            {
               @Html.DisplayName(item.Role.DesiredRole.ToString());
            }
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>

        </tr>
        }

    </tbody>
</table>

<div class="row pagination pager">
    @Html.PagedListPager(Model.Users, page => Url.Action("Index", new { page }))
</div>