@model IEnumerable<TPGP.Models.Jobs.User>

@{
    ViewBag.Title = "AdminView";
}

<h1>List of users</h1>
<hr />
<div class="col-lg-4" style="padding-bottom:25px; text-align: right;">

    @using (Html.BeginForm("Contracts", "Portfolio", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search..." })
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" value="Search">Go!</button>
            </span>
        </div>
    }

</div>

<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }

    </tbody>
</table>