<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TPGP</title>
    <link href="~/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/cssjqryUi")
    @RenderSection("css", false)
</head>
<body>
    @Html.Partial("_Navbar")

    <div class="container col-lg-10">
        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")

    <script src="~/scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("js", false)
</body>
</html>